.container{
    background: black;
    min-height: 100vh;
    color: white;
    padding: 4rem;

    p{
        font-size: 40px;
        font-weight: 500;
    }

    .main{
        margin-top: 24px;
        background-color: #2f2d28;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px 25px;
        border-radius: 15px;
        height: 70vh;

        .left{
            display: flex;
            flex-direction: column;
            gap: 18px;

            p{
                font-size: 20px;
                text-align: left;
            }

            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-self: center;
                gap: 12px;

                input, button{
                    padding: 5px;
                    border-radius: 5px;
                }

                input{
                    color: rgba(255, 255, 255, 0.749);
                    width: 30vw;
                    background-color: #3a3833;
                    border: 1px solid #6c685ebc;
                    padding: 8px;
                }

                button{
                    font-weight: 400;
                    font-size: 18px;
                    border: none;
                    background: linear-gradient(90deg, #38A52A 0%, #07F7FB 110.93%);
                    color: white;
                }

            }
        }


        .right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 25px;
            
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 18px;
            }

            li{
                list-style-type: none;
                font-size: 18px;
            }

        }
    }
}